.trip{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px 0px rgb(156, 156, 156);
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
}   

.trip__image-container{
    position: relative;
    border-radius: 10px;
    box-shadow: none;
}

.trip__image-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.trip__info{
    padding-left: 20px;
}

.trip__city{
    font-size: 20px;
}

.trip__dates{
    font-size: 16px;
}