.main-page{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 30px;
    max-width: 100%;
}

.main{
    max-width: calc(100% - 330px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}