.trip-forecast{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}

.trip-forecast__day{
    display: flex;
    flex-direction: column;
    min-width: 80px;
}

.trip-forecast__day-name{

}

.trip-forecast__icon-container{
   
}

.trip-forecast__icon-container img{
    width: 50px;
}


.trip-forecast__temperature{
    margin-top: 10px;
    font-weight: 600;
}

.trip-forecast__temperature sup{
    font-size: 0.75em;
    font-weight: 400;
}